@charset "utf-8";
/* CSS Document */
/* Main CSS file for the website */
* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: inherit !important;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #4CAF50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
/* Responsive Design */